.semaforo {
    width: 100px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .luz {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: gray;
  }

  .luz.activa {
    background-color: red; 
  }

  .luz.roja.activa {
    background-color: red;
  }
  
  .luz.amarilla.activa {
    background-color: yellow;
  }
  
  .luz.verde.activa {
    background-color: green;
  }
  